<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
    <h2>Hello world</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Text</th>
                <th>Date</th>
                <th>Choose</th>
            </tr>
        </thead>
        <tbody>
            {% for i in questions %}
            <tr>
                <th>{{i.question_text}}</th>
                <th>{{i.pub_date}}</th>
                <th><a href="{% url 'update' i.id %}" class="btn">Edit</a><a href="{% url 'delete_view' i.id %}" class="btn">Delete</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'newdata' %}">New Data</a>
</body>

</html>